@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #acd5f2, #c1aaf2, #e855d7);
    font-family: 'Mochiy Pop P One', sans-serif;
  }

  input#open {
    display: none;
  }
  
  .valentines-day-card {
    position: relative;
    width: 300px;
    height:500px;
    transform-style: preserve-3d;
      transform: perspective(2500px);
    transition: .3s;
  }
  
  .card-front {
    position: relative;
    background-color: #fff0f3;
    width: 300px;
    height:500px;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 30px 0 50px rgba(0,0,0,0.3);
    transition: .3s;
  }
  
  .card-front:before {
    content:"";
    position: absolute;
    width: 280px;
    height: 480px;
    background-color: #ce5252;
    top: 10px;
    left: 10px;
  }
  
  .card-inside {
    position: absolute;
    background-color: #fff0f3;
    width: 300px;
    height:500px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.22), 100px 20px 100px rgba(0,0,0,0.1);
  }
  
  .open {
    position: absolute;
    width: 300px;
    height:500px;
    left:0;
    top:0;
    background-color: transparent;
    z-index:6;
    cursor: pointer;
  }
  
  #open:checked ~ .card-front {
    transform: rotateY(-155deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
  }
  
  #open:checked ~ .card-front:before {
    z-index:5;
    background-color: #fff0f3;
    width:300px;
    height:500px;
    top:0;
    left:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.1), 30px 0 50px rgba(0,0,0,0.1);
  }

  .note {
    position: relative;
    width: 200px;
    height: 400px;
    background-color: #fff0f3;
    top:50px;
    left:50px;
    color: #333;
    font-size:25px;
    display: flex;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.3));
  }
  
  .note:before, .note:after {
    position: absolute;
    content:"";
    background-color: #e91010;
    width: 40px;
    height:40px;
  }
  
  .note:before {
    transform: rotate(-45deg);
    top:-20px;
    left:80px;
  }
  
  .note:after {
    border-radius:50%;
    top:-35px;
    left:65px;
    box-shadow:30px 0 #e91010;
  }

  .text-one {
    position: absolute;
    color: #333;
    font-size: 30px;
    top:30px;
    width:300px;
    text-align: center;
  }
  
  .text-one:before, .text-one:after {
    position: absolute;
    left:5px;
    text-align: center;
    width:300px;
  }
  
  .text-one:before {
    content:"Valentine's";
    top:30px;
    color: #d04e4e;
  }
  
  .text-one:after {
    content:"day!";
    top:60px;
  }
  
  .heart {
    scale: 0.6;
    position: relative;
    background-color: #d04e4e;
    height: 60px;
    width:60px;
    top:150px;
    left:120px;
    transform: rotate(-45deg);
    animation: .8s beat infinite;
    z-index: 1;
  }
    
  .heart:before, .heart:after {
    content:"";
    background-color: #d04e4e;
    border-radius:50%;
    height: 60px;
    width: 60px;
    position: absolute;
    }
    
  .heart:before {
    top:-30px;
    left:0;
  }
    
  .heart:after {
    left:30px;
    top:0;
  }
  
  .smile {
    scale: 0.6;
    position: absolute;
    width:30px;
    height:15px;
    background-color: #333;
    z-index:1;
    border-radius: 0 0 100px 100px;
    top:175px;
    left:135px;
    overflow: hidden;
  }
  
  .smile:before {
    content:"";
    position: absolute;
    border-radius:50%;
    width:20px;
    height:20px;
    background-color: #030202;
    top:5px;
    left:5px;
  }
  
  .eyes {
    scale: 0.6;
    position: absolute;
    border-radius: 50%;
    background-color: #333;
    width:10px;
    height:10px;
    z-index:1;
    top:160px;
    left: 157px;
    box-shadow: -40px 0 #333;
    transform-origin: 50%;
    animation: close 2s infinite;
  }

  .collage {
    position: absolute;
    background-color: #d04e4e;
    height:180px;
    width:280px;
    top:190px;
    left:6px;
    border: 5px solid #c278b6;
  }
  
  .img {
    position: absolute;
    height: 180px;
    width: 280px;
  }

  .ily {
    position: absolute;
    color: #333;
    font-size: 25px;
    top:400px;
    width:300px;
    text-align: center;
  }
  
  .hearts {
    position: absolute;
    z-index: -1;
  }
  
  .one, .two, .three, .four, .five {
    background-color: red;
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    position: relative;
    transform: rotate(-45deg);
    width: 10px;
    top:150px;
  }

  .two, .four {
    background-color: #d1169c;
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    position: relative;
    transform: rotate(-45deg);
    width: 10px;
    top:150px;
  }
  
  .one:before,
  .one:after,  .three:before, .three:after,  .five:before, .five:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
  }
  
  .two:before, .two:after, .four:before, .four:after {
    content: "";
    background-color: #d1169c;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
  }

  .one:before, .two:before, .three:before, .four:before, .five:before {
    top: -5px;
    left: 0;
  }
  
  .one:after, .two:after, .three:after, .four:after, .five:after {
    left: 5px;
    top: 0;
  }
    
  .one {
    left:10px;
    animation: heart 1s ease-out infinite; 
  }
  
  .two {
    left:30px;
    animation: heart 2s ease-out infinite; 
  }
  
  .three {
    left:50px;
    animation: heart 1.5s ease-out infinite;
  }
  
  .four {
    left:70px;
    animation: heart 2.3s ease-out infinite;
  }
  
  .five {
    left:90px;
    animation: heart 1.7s ease-out infinite;
  }
  
  @keyframes heart {
    0%{
      transform: translateY(-0) rotate(-45deg) scale(0.3);
      opacity: 1;
    }
    100%{
      transform: translateY(-100px) rotate(-45deg) scale(1.7);
      opacity: 0.5;
    }
  }

  @keyframes close {
      0%, 100% {
          transform: scale(1, .05);
      }
      5%, 95% {
          transform: scale(1, 1);
      }
  }
  
  @keyframes beat {
    0%, 40%, 100% {
      transform: scale(1) rotate(-45deg);
    }
    25%, 60% {
      transform: scale(1.1) rotate(-45deg);
    }
  }